{% extends "base.html" %}

{% block title %}Accueil
{% endblock %}
{% block head %}
	{{ parent() }}
{% endblock %}
{% block content %}

	<section class="home-container" id="home">
		<div class="home-content">
			<div class="profile-container">
				<img src="" alt="" class="profile-img">
				<div class="profile-content">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui in est animi impedit incidunt modi ipsum aliquam. Esse earum tenetur quam dolorem debitis labore. Assumenda at veritatis neque illo.</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
