body {
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  width: max-content;
}
