// TODO A placer dans apps
.section-container {
  margin: 60px 0;
}

// TODO A placer dans apps
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TODO A placer dans apps
.home-h1 {
  margin: 30px;
}

.profile-container {
  display: flex;
  width: 60%;
  margin: 30px auto;
}

.profile-container * {
  padding: 15px;
}

.profile-img {
  width: 300px;
  height: auto;
}

.soft-container {
  width: 80%;
  display: flex;
  align-items: center;
}

.pattern-container {
  background-color: #1dae1114;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  width: 100%;
  margin: 60px;
}

.soft-skills {
  display: flex;
  align-items: center;
  margin: 15px auto;
  width: 65%;
}

.soft-skills span {
  font-weight: bold;
}

.soft-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
  width: 33%;
}

.soft-content p {
  text-align: center;
  line-height: 30px;
}

.round-icon {
  background-color: #3ef02e14;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.round-icon i {
  font-size: 40px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  bottom: -20px;
  position: relative;
  text-align: center;
  left: 20px;
  color: #91cc70;
}

.hard-skills {
  display: flex;
  margin: 30px auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

// COMPETENCES

.skills-info {
  display: flex;
}

.skills-content {
  display: flex;
  flex-direction: row;
}

.skills-items {
  padding: 15px;
  margin: 15px;
}

.skills-items i {
  line-height: 2.3;
}
