<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/a9fb854f43.js" crossorigin="anonymous"></script>
		<title>
			{% block title %}CV Développeuse Junior
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% endblock %}
		{# {% block stylesheets %}
									{{ encore_entry_link_tags('app') }}
									<link rel="stylesheet" href="/build/app.css">
								{% endblock %} #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/build/runtime.js" defer></script>
			<script src="/build/app.js" defer></script>
		{% endblock %}
	</head>
	<body>
		<header class="main-header" title="Photo by Su San Lee">
			<div class="header-container">
				<div class="header-content">
					<div class="navbar-container">
						<a href="#" title="Leslie Rouzier, Développeuse front-end">
							<h2>Leslie Rouzier</h2>
						</a>
					</div>
					<div class="navigation-container">
						<ul class="navigation-links">
							<li class="header-links">
								<a href="#home" class="links" title="Accueil">
									<span>Accueil</span>
								</a>
							</li>
							<li>
								<a href="#skills" class="links" title="Compétences">
									<span>Compétences</span>
								</a>
							</li>
							<li>
								<a href="#experiences" class="links" title="Expériences">
									<span>Expériences</span>
								</a>
							</li>
							<li>
								<a href="#projects" class="links" title="Réalisations">
									<span>Réalisations</span>
								</a>
							</li>
							<li>
								<a href="#training" class="links" title="Formations">
									<span>Formations</span>
								</a>
							</li>
							<li>
								<a href="#contact" class="links" title="Contact">
									<span>Contact</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="parallax">
				<div class="parallax-container">
					<div class="parallax-content">
						<div class="parallax-hello">
							Hello, I'm Leslie 🦝 et je suis
							<h1>"Développeuse Front-End"</h1>
						</div>
						<div class="parallax-text">
							Je suis à la recherche d'une entreprise en
							<span>contrat d'apprentissage</span>, sur
							<span>Toulouse</span>
							et alentours, à compter de
							<span>Septembre 2021</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="section-container" id="home">
			<div class="container-content">
				<h1 class="home-h1">Hello, I'm Leslie 🦝</h1>
				<div class="profile-container">
					<img src="/images/me.jpeg" alt="" class="profile-img">
					<div class="profile-content">
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui in est animi impedit incidunt modi ipsum aliquam. Esse earum tenetur quam dolorem debitis labore. Assumenda at veritatis neque illo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, nulla delectus dignissimos, rem tempore maxime, dolorem aspernatur voluptates quod dolor adipisci cum? Fugit delectus cumque iusto amet quas doloribus exercitationem.</p>
					</div>
				</div>
				<div class="soft-container pattern-container">
					<div class="soft-skills">
						<div class="soft-content">
							<div class="round-icon">
								<i class="fas fa-palette"></i>
							</div>
							<p>
								De nature
								<span>créative</span>,
								<span>enjouée</span>,
								<span>sociable</span>
								et
								<span>bienveillante</span>, on me décrit souvent comme une personne qui
								<span>s'adapte</span>
								et
								<span>s'intègre facilement</span>.
							</p>
						</div>
						<div class="soft-content">
							<div class="round-icon">
								<i class="far fa-heart"></i>
							</div>
							<p>
								Ma
								<span>bonne humeur</span>
								quotidienne ravie mes collègues. Pourtant très timide, je suis
								<span>bonne communicante</span>
								et apprécie tout particulièrement le
								<span>relationnel</span>.
							</p>
						</div>
						<div class="soft-content">
							<div class="round-icon">
								<i class="fas fa-users"></i>
							</div>
							<p>
								J'ai appris la
								<span>rigueur</span>
								et la
								<span>persévérance</span>
								grâçe à mes années de gymnastique artistique ainsi que le
								<span>travail en équipe</span>
								et prône tout particulièrement celui-ci.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-container" id="skills">
			<div class="container-content mgt-30">
				<h1 class="home-h1">Compétences 🌿</h1>
				<div class="skills-container">
					<div class="skills">
						<div class="skills-info">
							<div>
								<i class="fas fa-trophy"></i>
							</div>
							<h3>Développement</h3>
						</div>
						<p>Sites web modernes mobile friendly, CRUD</p>
						<div class="skills-content">
							<div class="skills-items">
								<p>HTML5 / CSS3 / SASS</p>
								<p>Javascript / ReactJs</p>
								<p>NodeJs / NPM / ExpressJs</p>
								<p>MySQL / Postman
								</p>
								<p>PHP7 / Symfony (Doctrine/Twig)</p>
								<p>Selenium / Cucumber / Jenkins</p>
							</div>
							<div class="skills-items">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>

								<br>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
								<br>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
								<br>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
								<br>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<br>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
								<br>
							</div>
						</div>
					</div>
					<div class="skills">
						<div class="skills-info">
							<div>
								<i class="fas fa-users"></i>
							</div>
							<h3>Environnement</h3>
						</div>
						{# <p>Sites web modernes mobile friendly, CRUD</p> #}
						<div class="skills-content">
							<div class="skills-icon skills-items">
								<img src="/images/ubuntu.png" alt="">
								<img src="/images/vsc.png" alt="">
								<img src="/images/git.png" alt="">
							</div>
							<div class="skills-text skills-items">
								<p>Système d'exploitation</p>
								<br>
								<p>IDE</p>
								<br>
								<p>Workflow</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{# TODO Vérifier que l'on a mit tous les points à la fin des phrases #}
		<section class="section-container" id="experiences">
			<div class="container-content mgt-30">
				<h1 class="home-h1">Expériences 🎀</h1>
				<div class="timeline-container">
					<div class="timeline">
						<span class="time-event">Septembre 2020 à Mars 2021</span>
						<span class="time-role">Développeuse de tests IHM</span>
						<span class="time-place">
							<a href="https://www.eurecia.com/">Eurécia</a>
							, Castanet-Tolosan</span>
						<b>Tests End to End</b>
						<span>Entretien de l'existant, maintenance, refactoring et stabilisation, optimisation du temps d'exécution.</span>
						<span>Intégration de nouveaux cas de tests.</span>
						<span class="time-tech">Selenium, Cucumber, Jenkins, Javascript, Bash, Docker, Linux debian</span>
					</div>
					<div class="timeline">
						<span class="time-event">Mai 2020 à Juillet 2020</span>
						<span class="time-role">Développeuse web</span>
						<span class="time-place">
							<b class="nolink">Court Circuit</b>
							, Toulouse
						</span>
						<b>Développement d'une application web à destination des habitants de Pailhès (Ariège).</b>
						<span>Création d'un catalogue de produits locaux.</span>
						<span>Implémentation d'un suivi des commandes.</span>
						<span class="time-tech">Javascript, ReactJs, NodeJs, Express, MySQL, Workbench, Postman, Material UI, Adobe XD</span>
					</div>
					<div class="timeline">
						<span class="time-event">24/25/26 Juin 2020</span>
						<span class="time-role">Développeuse web</span>
						<span class="time-place">
							<a href="https://pimpmyfat.netlify.app/">PimpMyFat</a>
							, Toulouse</span>
						<i>Hackathon en partenariat avec
							<a href="https://www.doctolib.fr/">Doctolib</a>
						</i>
						<span>Réalisation d'un dashboard permettant à l'utilisateur de suivre les tendances actuelles en matière de chirurgie plastique.</span>
						<span class="time-tech">Javascript, ReactJs, NodeJs, Express, MySQL</span>
					</div>
					<div class="timeline">
						<span class="time-event">Avril à Mai 2020</span>
						<span class="time-role">Développeuse web</span>
						<span class="time-place">
							<a href="https://gamehoarder.netlify.app/">Game Hoarder</a>
							, Toulouse
						</span>
						<span>Création d'une application web offrant la possibilité à ses utilisateurs de créer leur propre bibliothèque numérique de jeux-vidéos.</span>
						<span>Utilisation de l'API
							<a href="https://api-docs.igdb.com/#about">IGDB</a>
						</span>
						<span class="time-tech">Javascript, ReactJs, NodeJs, JSON, API Rest, SASS</span>
					</div>
					<div class="timeline">
						<span class="time-event">Du 20 au 30 Avril 2020</span>
						<span class="time-role">Développeuse web</span>
						<span>Hackathon</span>
						<span class="time-place">
							<a href="https://karmajourney.netlify.app/">KarmaJourney</a>
							, Toulouse</span>
						<i>Prix de la meilleure fonctionnalité</i>
						<span>Application web sous forme de quizz. L'utilisateur se voit proposer une destination de voyage en fonction de son karma.</span>
						<span>Récupération des images grâce à l'API
							<a href="https://api.windy.com/">Windy.</a>
						</span>
						<span class="time-tech">Javascript, ReactJs</span>
					</div>
					<div class="timeline">
						<span class="time-event">Du 15 au 27 Mars 2020</span>
						<span class="time-role">Développeuse web</span>
						<span class="time-place">
							<b class="nolink">Wild Foodie</b>
							, Toulouse</span>
						<span>Site internet développé en HTML/CSS.</span>
					</div>
				</div>
			</body>
		</body>
	</body>
</html></body></html>
