{# <div>J'ai eu l'occasion de travailler sur :
																																					<ul>
																																						<li>PHP</li>
																																						<li>Symfony/Twig/Doctrine</li>
																																						<li>Sass</li>
																																						<li>Docker</li>
																																						<li>Selenium</li>
																																						<li>Cucumber</li>
																																					</ul>
																																				</div> #}
{# <div>
											Je m'éclate tout particulièrement sur du développement front-end. Mon code est versionné et hébergé sur GIT ou Gitlab. J'utilise des outils de gestion de projet comme Trello, GitHub ou JIRA (en entreprise).
										</div> #}
{# <div class="hard-skills">
																																																	<div class="wild-skills">
																																																		<img src="/images/wild_skills.png" alt="">
																																																	</div>
																																																</div> #}
